HOST.IVENDinvoice/HOST.IVENDinvoice.Invoices/obj/Debug/HOST.IVENDinvoice.Invoices.csprojResolveAssemblyReference.cache
HOST.IVENDinvoice/HOST.IVENDinvoice.Invoices/obj/Debug/
HOST.IVENDinvoice/HOST.IVENDinvoice.Invoices/bin/Debug/
HOST.IVENDinvoice/.vs/HOST.IVENDinvoice/v14/.suo
HOST.IVENDinvoice/HOST.IVENDinvoice.Invoices/obj/Debug/MainWindow.g.i.cs
